streamlit
Pillow
python-dotenv
neo4j
langchain
langchain-openai
langchain-groq
langchain-community
openai
tiktoken
chromadb
pydub
moviepy
opencv-python
pymupdf
pypdf
transformers
accelerate
bitsandbytes
